@import reset
@import tools
@import vars
@import fonts
@import libs
@import dev_main
@import top-menu
@import menu
@import subscriptions
@import login
@import player-page
@import common
.top-menu
	background: $menu-color
.main-content
	margin-left: 300px
.d-block
	display: block
.margin-auto
	margin-right: auto
	margin-left: auto
	display: block
.container-fluid
	padding-right: 0px
	padding-left: 0px
.padding-top
	padding-top: 30px
.bg-white
	background: white
.bg-black
	background: black
	color: white